.buttons-box{
    background-color: black;
}

.filter-btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.filter-btn {
    background-color: white;
    background-color: black;
    color: white;
    border:none;
    padding: 6px;
    margin: 1px;
    font-family: 'Lora', serif;
    font-size: 0.9rem;
}

.filter-btn:hover {
    background-color: white;
    color: black;
}