.nav-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    margin: 5px;
}


.home-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 3.7%;
    left: 80%;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-family: 'Lora', serif;
}